<div>
  <div class="teaser">
    <div class="bg-image"></div>
    <div class="content">
      <h1>Kost, sundhed og velvære</h1>
      <p>Mushi Mushi lancerer snart webshop hvor du nemt over nettet kan købe specialiserede helseprodukter som chaga og forskellige
        spændende te sorter og svampe ekstrakter</p>
    </div>
  </div>
</div>

<div class="wrapper">

  <app-product-listing></app-product-listing>

</div>

<div id="quote">
  <blockquote>Det dobbelte blindtestede studie kortlagde klar evidens på området vedrørende chaga svampens anti-inflamatoriske virkning.
    Gruppen der indtog chaga havde et langt lavere niveau af maligne metastatiske celledelinger sammenlignet med kontrolgruppen
  </blockquote>
</div>


<footer>
  <div class="wrapper">
    <ul>
      <li>
        <h4>Kontakt</h4>
      </li>
      <li>Bjørn Schwartz</li>
      <li>Sydhavnens Badebro 2</li>
      <li>60 67 03 93</li>
      <li>chagabear@gmail.com</li>
    </ul>
    <ul>
      <li>
        <h4>Om chaga</h4>
      </li>
      <li>Hvad er chaga</li>
      <li>Om svampe generelt</li>
      <li>Gode råd og andet</li>
      <li>Vilkår og FAQ</li>
    </ul>
    <ul>
      <li>
        <h4>Om Mushi Mushi</h4>
      </li>
      <li>Mushi Mushi er grundlagt af entutiaster, der ønsker at fremme kendskabet til chagaens gode egenskaber</li>
      <li>Udover at sælge svampe til gunstige priser er formålet også generel oplysning, hvor interesserede kan få overblik over
        litterturen på området
    </ul>
    <div id="copyright">&copy; 2017
      <a href="https://github.com/petertretorn">Peter Larsen</a>
    </div>
  </div>
</footer>
