

.check-out-button {
    margin-top: 30px;
}

.cart {
    margin-top: 100px;
}

mat-card-content {
    display: flex;
    justify-content: space-between;
}

.name {
    flex: 0 1 55%;
}

.quantity {
    flex: 0 1 20%;
}

.total {
    flex: 0 1 15%;
    text-align: right;
}

.delete {
    flex: 0 1 10%;
    text-align: right;
}