<div class="container">
  <div class="cart">
    <h3>Din indkøbskurv</h3>
    <div>
      <mat-card *ngFor="let line of lines">
        <mat-card-content>
          <div class="name">
            {{ line.product.name }}
          </div>
          <div class="quantity">
            <span>{{ line.quantity }} </span>{{ line.quantity > 1 ? ' stykker' : ' styk' }}&nbsp;
            <span>á</span>&nbsp;
            <span>{{ line.product.price }}</span>
          </div>
          <div class="total">
            <span>kr. </span>{{ line.quantity * line.product.price }}
          </div>
        </mat-card-content>
      </mat-card>
      <p>
        Samlet pris kr.&nbsp;{{ total }}
      </p>
    </div>
    <a class="check-out-button" mat-raised-button [routerLink]="['/check-out']">CHECK UD</a>
    <a class="check-out-button" mat-raised-button [routerLink]="['/']">TILBAGE</a>
  </div>

</div>
