h3 {
    margin-bottum: 1em;
}

.check-out-button {
    margin-top: 30px;
}

.container {
    margin-top: 70px;
}


mat-list-item {
    display: flex;
    justify-content: space-between;
}

mat-list {
    max-width: 600px;
}

.name {
    flex: 0 1 45%;
}

.quantity {
    flex: 0 1 30%;
}

.total {
    flex: 0 1 15%;
    text-align: right;
}

.delete {
    flex: 0 1 10%;
    text-align: right;
}