<div>
  <h2 mat-dialog-title>Admin Log in</h2>
  <hr>
  <mat-dialog-content>
    <form>
      <div class="flex-container">
        <mat-input-container>
          <input [(ngModel)]="email" name="email" matInput placeholder="email" type="email">
        </mat-input-container>

        <mat-input-container>
          <input [(ngModel)]="password" name="password" matInput placeholder="password" type="password">
        </mat-input-container>
      </div>
    </form>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
    <button mat-raised-button (click)="onCloseCancel()">TILBAGE</button>
  </mat-dialog-actions>
</div>
