.flex-container {
  display: flex;
  flex-direction: column;
}
.page-container {
    display: flex;
}
mat-card {
    margin: 8px;
}

[mat-raised-button] {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .page-container {
      flex-direction: column;
  }
}


