<div class="page-container">

  <mat-card class="col-md-6">
    <mat-card-header>
      <mat-card-title>
        <h4>{{ heading }}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="flex-container">
          <mat-input-container>
            <input [(ngModel)]="product.name" name="name" matInput placeholder="navn">
          </mat-input-container>

          <mat-input-container>
            <textarea [(ngModel)]="product.description" rows=10 name="description" matInput placeholder="Produkt beskrivelse"></textarea>
          </mat-input-container>

          <mat-input-container>
            <input [(ngModel)]="product.price" name="price" matInput placeholder="Pris">
          </mat-input-container>

          <mat-input-container>
            <input [(ngModel)]="product.quantity" name="quantity" matInput placeholder="Vægt i gram">
          </mat-input-container>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveProduct()" mat-raised-button color="primary">GEM</button>
      <button [routerLink]="['/admin/products-list']" mat-raised-button color="accent">TILBAGE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-md-6">
    <img mat-card-image [src]="product.imageUrl" alt="Billede mangler">
    <mat-card-actions>
      <button (click)="fileInput.click()" mat-raised-button>
        <mat-icon>library_add</mat-icon>
        <span>VÆLG</span>
        <input #fileInput type="file" (change)="handleFile($event)" style="display: none" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>
