<mat-toolbar color="primary">
  <span class="goto-link" (click)="gotoHome()">Mushi Mushi</span>
  <span class="example-spacer"></span>
  <span *ngIf="isAdmin">Administrator</span>
  <span *ngIf="!isAdmin && auth.user | async; let user">{{ user.displayName }}&nbsp;&nbsp;</span>
  <mat-icon class="goto-link" (click)="gotoCart()" *ngIf="!isAdmin">shopping_cart</mat-icon>
  <div class="badge-container">
    <div [style.visibility]="cartService.displayBadgeStyle()" class="cart-badge">{{ cartService.cart.size }}</div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!auth.isSignedIn" mat-menu-item (click)="loginAdmin()">
      <mat-icon>lock_open</mat-icon>
      <span>Log ind</span>
    </button>
    <a *ngIf="isAdmin" [routerLink]="['./../admin/products-list']" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Varer</span>
    </a>
    <a *ngIf="isAdmin" [routerLink]="['./../admin/orders']" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Ordrer</span>
    </a>
    <button *ngIf="auth.isSignedIn" mat-menu-item (click)="signOut()">
      <mat-icon>lock</mat-icon>
      <span>Log ud</span>
    </button>
  </mat-menu>
</mat-toolbar>
