.example-spacer {
  flex: 1 1 auto;
}

.goto-link:hover {
  cursor: pointer !important;
} 

.badge-container {
  position: relative;
}

.cart-badge {
  background-color: red;
  border-radius: 10px;
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  top: -10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left:0;
  z-index: 1000;
  height: 45px;
}